:root {
    --reaction: hsl(0, 100%, 67%);
    --memory: hsl(39, 100%, 56%);
    --verbal: hsl(166, 100%, 37%);
    --visual: hsl(234, 85%, 45%);
    --defualt-text1: #CDC3FF;
    --defualt-text2: #877AFF;
    --result-background1: hsl(252, 100%, 67%);
    --result-background2: hsl(241, 81%, 54%);
    --result-circle1: hsla(256, 72%, 46%, 1);
    --result-circle2: hsla(241, 72%, 46%, 0);
    --btn-color: hsl(224, 30%, 27%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.6rem;
}

main {
    height: 95vh;
}

.section-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    width: 750px;
    height: 58rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3rem;
    box-shadow: 0 0.4rem 0.8rem 1rem rgba(255, 255, 255, 0.2), 0 0.5rem 1.4rem 0 hsla(252, 100%, 67%, 0.2);
}

.result-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--result-background1), var(--result-background2));
    border-radius: 3rem;
    padding: 4rem;
}

.result-container h1 {
    color: var(--defualt-text1);
    margin-bottom: 5rem;
}

.result-circle {
    width: 23.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--result-circle1), var(--result-circle2));
    border-radius: 50%;
    padding: 5rem;
}

.result-heading-desc {
    font-size: 2rem;
    color: var(--defualt-text2);
}

.result-heading {
    color: white;
}

.result-heading.first-heading {
    font-weight: 800;
    font-size: 8rem;
}

.result-heading.second-heading {
    font-weight: 500;
    font-size: 3rem;
    margin: 3rem 0 1.2rem 0;
}

.result-description {
    text-align: center;
    width: 22rem;
    color: var(--defualt-text1);
}

.summary-container {
    height: 100%;
    padding: 4rem;
}

.summary-heading {
    color: var(--btn-color);
    text-align: left;
}

.info-card {
    height: 8rem;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 1rem;
}

.info-type {
    font-weight: 800;
    display: flex;
    align-items: center;
}

.add-left-space {
    margin-left: 0.5rem;
}

.reaction {
    color: var(--reaction);
    background-color: hsla(0, 100%, 67%, 0.1);
}

.memory {
    color: var(--memory);
    background-color: hsla(39, 100%, 56%, 0.1);
}

.verbal {
    color: var(--verbal);
    background-color: hsla(166, 100%, 37%, 0.1);
}

.visual {
    color: var(--visual);
    background-color: hsla(234, 85%, 45%, 0.1);
}

.summary-num {
    color: gray;
}

.summary-num-bold {
    font-weight: 800;
    color: black;
}

.summary-btn {
    font-size: 1.8rem;

    margin: 1rem 0;
    padding: 1.5rem 10rem;
    color: white;
    border: none;
    border-radius: 3rem;
    background-color: var(--btn-color);
    cursor: pointer;
}

.summary-btn:hover {
    background: linear-gradient(var(--result-background1), var(--result-background2));
}

.summary-btn:active {
    background: linear-gradient(hsl(252, 78%, 44%), hsl(241, 37%, 29%));
}

.attribution {
    width: 100%;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 650px) {
    .card-container {
        text-align: center;
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 3rem;
        box-shadow: 0 0.4rem 0.8rem 1rem rgba(255, 255, 255, 0.2), 0 0.5rem 1.4rem 0 hsla(252, 100%, 67%, 0.2);
    }

    .attribution {
        margin: 62rem 0 2rem 0;
    }
}